.upload-form {
    max-width: 300px;
    gap: 10px;
    position: relative;
}

.file-upload-container {
    width: 100%;
    padding: 0 0 0 14px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #fcf9f9;
}
.upload-form-input {
    width: 100%;
    height: 40px;
    padding: 4px 0 0 14px;
    border: 1px solid gray;
    border-radius: 3px;
}

input[type="file"] {
    outline-offset: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    width: 55%;
    height: 35px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

.upload-form-button {
    width: 50%;
    height: 35px;
    padding: 0 0 0 14px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #fcf9f9;
}

.custom-file-upload {
    width: 90%;
    cursor: pointer;
}

.upload-message {
    width: 100%;
    height: 25px;
    position: absolute;
    top: -30px;
}

.progress {
    width: 0;
    height: 25px;
    padding: 0 0 0 5px;
    background-color: gray;
    display: flex;
    justify-content: start;
    align-items: center;
    animation: progress linear 2s infinite normal;
}

.error-message {
    color: red;
    position: absolute;
    top: -30px;
}

@keyframes progress {
    0% {
        width: 0;
    }

    100%{
        width: 100%;
    }

}

@media (max-width: 640px) {
   .uploadForm-wrapper {
       justify-content: center;
       align-items: center;
   }
}
