.file-upload-container {
    width: 20%;
    padding: 0 0 0 14px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #fcf9f9;
}

.custom-file-upload {
    width: 90%;
    cursor: pointer;

}

input[type="file"] {
    outline-offset: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    width: 55%;
    height: 35px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

@media (max-width: 1280px) {
    .file-upload-container {
        width: 30%;
    }

    .custom-file-upload {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .file-upload-container {
        width: 35%;
    }
}

@media (max-width: 640px) {
    .file-upload-container {
        width: 60%;
    }
}