header {
    width: 100%;
    margin-top: 20px;
}

.cols-wrapper {
    width: 97%;
    height: 85px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #cccccc;
    display: flex;
}

.header-col:nth-child(1){
    width: 40%;
}

.header-col:nth-child(2){
    width: 60%;
}

.header-col {
    height: 85px;
    padding: 0 0 0 30px;
}

.container {
    gap: 20px;
}

.button {
    width: 100px;
    height: 35px;
    padding: 5px;
    gap: 14px;
    cursor: pointer;
}

/* Media Queries for responsiveness */
@media (max-width: 1440px) {
    .header-col:nth-child(1){
        width: 35%;
    }

    .header-col:nth-child(2){
        width: 65%;
    }
}

@media (max-width: 1280px) {
    .header-col:nth-child(1){
        width: 40%;
    }

    .header-col:nth-child(2){
        width: 60%;
    }
}

@media (max-width: 1024px) {
    .header-col:nth-child(1){
        width: 30%;
    }

    .header-col:nth-child(2){
        width: 70%;
        justify-content: space-around;
        padding: 0 0 0 0;
    }

    .button {
        width: 80px;
        padding: 3px;
        gap: 7px;
    }
}

@media (max-width: 768px) {
    .cols-wrapper {
        width: 100%;
    }

    .header-col:nth-child(1){
        width: 27%;
        padding: 0 0 0 10px;
    }

    .header-col:nth-child(2){
        width: 72%;
        justify-content: space-between;
        padding: 0 0 0 0;
    }

    .button {
        width: 65px;
        padding: 2px;
        gap: 2px;
    }
}

@media (max-width: 640px) {
    .cols-wrapper{
        height: 170px;
        padding-top: 10px;
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
        gap: 12px;
    }
    .header-col {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }

    .button {
        width: 90px;
        padding: 3px;
        gap: 7px;
    }
}
