header {
    width: 100%;
    margin-top: 20px;
}

.cols-wrapper {
    width: 97%;
    height: 85px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #cccccc;
    display: flex;
}

.header-col:nth-child(1) {
    width: 50%;
}

.header-col:nth-child(2) {
    width: 50%;
}

.header-col {
    height: 85px;
    padding: 0 0 0 30px;
}

.container {
    gap: 20px;
}

.button {
    width: 100px;
    height: 35px;
    padding: 5px;
    gap: 14px;
    cursor: pointer;
}

.uploadForm-wrapper {
    width: 100%;
    padding: 50px 20px 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

main {
    width: 100%;
    height: 650px;
}

.main-title-row {
    width: 97%;
    height: 35px;
    background-color: #dadada;
    display: grid;
    grid-template-columns: .3fr 1fr 1fr .4fr .5fr;
}

.main-title-row div {
    border-right: 2px solid white;
}

.music-list-section {
    width: 100%;
}


/* Media Queries for responsiveness */
@media (max-width: 640px) {
    .header-col:nth-child(1) {
        width: 55%;
        padding: 0 0 0 10px;
        justify-content: start;
    }

    .header-col:nth-child(2) {
        padding: 0 10px 0 0 ;
    }

    .container {
        justify-content: space-between;
        gap: 10px
    }

    .cols-wrapper {
        padding-top: 10px;
        justify-content: space-around;
        align-items: center;
        gap: 12px;
    }

    .button {
        width: 95px;
        padding: 3px;
    }
}
